<h3 id="backButton"><a routerLink = "/">← <u>Go back to Homepage</u></a></h3>

<form id="formNewRecord" name="formNewRecord" #productData = "ngForm" (ngSubmit) = "updateProduct(productData.value)">
  <label><u><b>Update Existing User:</b></u></label><br>
  <br>
  <label><b>ID: </b></label><br>
  <br>
  <input type="text" id="id" name="id" placeholder="User ID" [(ngModel)]="data.id" ngModel readonly><br>
  <br>
  <label><b>Name: </b></label><br>
  <br>
  <input type="text" id="name" name="name" placeholder="User Name" [(ngModel)]="data.name" ngModel><br>
  <br>
  <label><b>Nationality: </b></label><br>
  <br>
  <input type="text" id="nationality" name="nationality" placeholder="User Nationality" [(ngModel)]="data.nationality" ngModel><br>
  <br>
  <input type="submit" value="Update User" id="submitButton">

  <div class="alert" *ngIf="addSuccess">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    {{ confirmationAlert }}
  </div>
</form>
